@model Site1.Models.Palavra
<html>
<head>
    <title>Cadastrar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" value="@Model.Nome" class="form-control" id="nome" placeholder="Digite o seu nome">
                @Html.ValidationMessage("nome")
            </div>
            <div class="form-group">
                <label for="nivel">Nível:</label>
                <input type="text" name="nivel" value="@Model.Nivel" class="form-control" id="nivel" placeholder="1-Fácil, 2-Médio, 3-Difícil">
                @Html.ValidationMessage("nivel")
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

        @ViewBag.Mesagem
    </div>
</body>
</html>